:root {
    --primary-btn: #ef5a67;
    --dark-blue: #022f84;
    --light-blue: #053fa2;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
  color: #ffffff;
  font-size: 16px;
  cursor: default;
}

h1 {
  font-size: 79px;
  color: var(--dark-blue);
}

h2 {
  font-size: 45px;
  font-weight: 600;
  color: var(--dark-blue);
}

/* NAVBAR */
.navbar {
  background-color: #022f84;
  position: sticky;
  width: 100%;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  max-height: 50px;
}
.navbar .nav-item .nav-link {
  color: #fff;
}
.navbar .nav-item .active {
  color: #fff !important;
  font-weight: 900;
}
iframe {
  border-radius: 10px;
}
.nav-item a {
  margin: auto auto auto 10px;
}

.nav-link:hover {
  color: #ef5a67 !important;
}
.navbar-toggler-icon {
  color: #fff;
}
a.nav-link {
  margin: 5px;
  padding: 2px;
}
#ogt {
  border: 2px solid #ef5a67;
  text-align: center;
  border-radius: 10px;
  transition: all 0.8s ease-in-out;
}
#ogt:hover {
  box-shadow: 0 0 10px #fff;
}

/* MAIN */
main {
  color: black;
  height: fit-content;
  padding: 4rem ;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-data {
  display: flex;
}

.form-card {
  background-color: #efefef;
  border-radius: 0.7rem;
  display: flex;
  justify-content: space-between;
}

.registration-form {
  padding: 3rem;
  flex: 50%;
}

.form-head h2 {
  padding: 1rem 1rem 0;
  text-align: center;
}

.form-body {
  padding: 2rem;
}

label {
  color: #3C4048;
}

.register-btn {
  background-color: var(--dark-blue);
  color: #ffffff;
}

.register-btn:hover {
  background-color: #ffffff;
  color: var(--dark-blue);
}

.form-img {
  flex: 50%;
}

.form-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0.7rem 0.7rem 0; 
}

/* FOOTER */
footer {
  background-color: var(--dark-blue);
}
.footer-logo {
  width: 50%;
}
.icons {
  cursor: pointer;
}
.icons img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin: 1rem 0.5rem;
  transition: 0.1s ease-in-out;
}
.icons img:hover {
  transform: scale(1.2);
}
footer h5 {
  font-weight: 700;
}
.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
.footer-links a:hover {
  text-decoration: underline;
}

hr {
  width: 90%;
  margin: auto;
  opacity: 100;
}

.footer-copyright {
  background-color: var(--dark-blue);
  font-size: 0.9rem;
}

.footer-copyright p {
  color: #ffffff;
}

@media (max-width: 780px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }

  main {
    color: black;
    height: fit-content;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-card {
    background-color: #efefef;
    border-radius: 0.7rem;
  }

  .registration-form {
    padding: 1rem;
  }

  .form-head h2 {
    text-align: center;
    font-size: 38px;
  }

  .form-img {
    display: none;
  }

  .footer-links a {
    font-size: 0.8rem;
    text-align: left;
  }

  .footer-top-div {
    width: 100%;
  }
  .footer-mid-div,
  .footer-bottom-div {
    width: 50%;
    text-align: center;
  }
  .footer-copyright {
    font-size: 0.6rem;
  }
  .social-media {
    display: none;
  }
}